---
export const prerender = false;
const { id } = Astro.params;
import Exercise from "../../components/Exercise.svelte";
import UserNav from "../../components/UserNav.svelte";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Exercise {id}</title>
</head>
<body>
    <UserNav client:only="svelte" />
    <Exercise id={id} client:only="svelte" />
</body>
</html>
