---
export const prerender = false;
const { id } = Astro.params;
import ExerciseList from "../../components/ExerciseList.svelte";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Exercises</title>
</head>
<body>
    <ExerciseList id={id} client:only="svelte" />
</body>
</html>