---
import { getCollection, render } from "astro:content";
import CommentStatistics from "../../components/CommentStatistics.svelte";
import Comments from "../../components/Comments.svelte";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((recipe) => ({
    params: { id: recipe.id },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
const { Content } = await render(recipe);
---

<h1>{recipe.data.title}</h1>

<CommentStatistics client:load />

<Content />

<Comments client:load />
