---
import LanguageList from "../components/LanguageList.svelte";
import UserNav from "../components/UserNav.svelte";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Languages</title>
</head>
<body>
    <UserNav client:only="svelte" />
    <LanguageList client:only="svelte" />
</body>
</html>
